[Desktop Entry]
Version=10.0.1.27695
Encoding=UTF-8
Name=Parallels Control Center
Type=Application
Exec=/usr/bin/prlcc
X-KDE-autostart-phase=1
GenericName[en_US]=
