[Desktop Entry]
Version=10.0.1.27695
Encoding=UTF-8
Name=Parallels Tools Installation Agent
Type=Application
Exec=/usr/bin/ptiagent --info
X-KDE-autostart-phase=1
GenericName[en_US]=
